@font-face {
	font-family: 'Linearicons';
	src:url('../font/Linearicons.eot?-m09hd');
	src:url('../font/Linearicons.eot?#iefix-m09hd') format('embedded-opentype'),
		url('../font/Linearicons.woff?-m09hd') format('woff'),
		url('../font/Linearicons.ttf?-m09hd') format('truetype'),
		url('../font/Linearicons.svg?-m09hd#Linearicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_lnr_"]:before, [class*="icon_lnr_"]:before {
  font-family: 'Linearicons';
 font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon_lnr_home:before {
	content: "\e600";
}
.icon_lnr_home2:before {
	content: "\e601";
}
.icon_lnr_home3:before {
	content: "\e602";
}
.icon_lnr_home4:before {
	content: "\e603";
}
.icon_lnr_home5:before {
	content: "\e604";
}
.icon_lnr_home6:before {
	content: "\e605";
}
.icon_lnr_pencil:before {
	content: "\e606";
}
.icon_lnr_pencil2:before {
	content: "\e607";
}
.icon_lnr_edit:before {
	content: "\e608";
}
.icon_lnr_edit2:before {
	content: "\e609";
}
.icon_lnr_feather:before {
	content: "\e60a";
}
.icon_lnr_feather2:before {
	content: "\e60b";
}
.icon_lnr_pen:before {
	content: "\e60c";
}
.icon_lnr_brush:before {
	content: "\e60d";
}
.icon_lnr_paintbrush:before {
	content: "\e60e";
}
.icon_lnr_paint-roller:before {
	content: "\e60f";
}
.icon_lnr_eye-dropper:before {
	content: "\e610";
}
.icon_lnr_magic:before {
	content: "\e611";
}
.icon_lnr_design:before {
	content: "\e612";
}
.icon_lnr_magnet:before {
	content: "\e613";
}
.icon_lnr_aim:before {
	content: "\e614";
}
.icon_lnr_gun:before {
	content: "\e615";
}
.icon_lnr_droplet:before {
	content: "\e616";
}
.icon_lnr_droplet2:before {
	content: "\e617";
}
.icon_lnr_fire:before {
	content: "\e618";
}
.icon_lnr_lighter:before {
	content: "\e619";
}
.icon_lnr_knife:before {
	content: "\e61a";
}
.icon_lnr_toilet-paper:before {
	content: "\e61b";
}
.icon_lnr_umbrella:before {
	content: "\e61c";
}
.icon_lnr_sun-small:before {
	content: "\e61d";
}
.icon_lnr_sun:before {
	content: "\e61e";
}
.icon_lnr_moon:before {
	content: "\e61f";
}
.icon_lnr_cloud:before {
	content: "\e620";
}
.icon_lnr_cloud-upload:before {
	content: "\e621";
}
.icon_lnr_cloud-download:before {
	content: "\e622";
}
.icon_lnr_cloud-rain:before {
	content: "\e623";
}
.icon_lnr_cloud-snow:before {
	content: "\e624";
}
.icon_lnr_cloud-fog:before {
	content: "\e625";
}
.icon_lnr_cloud-lightning:before {
	content: "\e626";
}
.icon_lnr_cloud-sync:before {
	content: "\e627";
}
.icon_lnr_cloud-lock:before {
	content: "\e628";
}
.icon_lnr_cloud-gear:before {
	content: "\e629";
}
.icon_lnr_cloud-database:before {
	content: "\e62a";
}
.icon_lnr_database:before {
	content: "\e62b";
}
.icon_lnr_shield:before {
	content: "\e62c";
}
.icon_lnr_lock:before {
	content: "\e62d";
}
.icon_lnr_unlock:before {
	content: "\e62e";
}
.icon_lnr_key:before {
	content: "\e62f";
}
.icon_lnr_key-hole:before {
	content: "\e630";
}
.icon_lnr_gear:before {
	content: "\e631";
}
.icon_lnr_gear2:before {
	content: "\e632";
}
.icon_lnr_wrench:before {
	content: "\e633";
}
.icon_lnr_tools:before {
	content: "\e634";
}
.icon_lnr_hammer:before {
	content: "\e635";
}
.icon_lnr_factory:before {
	content: "\e636";
}
.icon_lnr_factory2:before {
	content: "\e637";
}
.icon_lnr_recycle:before {
	content: "\e638";
}
.icon_lnr_trash:before {
	content: "\e639";
}
.icon_lnr_trash2:before {
	content: "\e63a";
}
.icon_lnr_heart:before {
	content: "\e63b";
}
.icon_lnr_heart2:before {
	content: "\e63c";
}
.icon_lnr_flag:before {
	content: "\e63d";
}
.icon_lnr_flag2:before {
	content: "\e63e";
}
.icon_lnr_flag3:before {
	content: "\e63f";
}
.icon_lnr_at-sign:before {
	content: "\e640";
}
.icon_lnr_envelope:before {
	content: "\e641";
}
.icon_lnr_inbox:before {
	content: "\e642";
}
.icon_lnr_paperclip:before {
	content: "\e643";
}
.icon_lnr_reply:before {
	content: "\e644";
}
.icon_lnr_reply-all:before {
	content: "\e645";
}
.icon_lnr_paper-plane:before {
	content: "\e646";
}
.icon_lnr_eye:before {
	content: "\e647";
}
.icon_lnr_eye2:before {
	content: "\e648";
}
.icon_lnr_binoculars:before {
	content: "\e649";
}
.icon_lnr_binoculars2:before {
	content: "\e64a";
}
.icon_lnr_floppy-disk:before {
	content: "\e64b";
}
.icon_lnr_printer:before {
	content: "\e64c";
}
.icon_lnr_file:before {
	content: "\e64d";
}
.icon_lnr_folder:before {
	content: "\e64e";
}
.icon_lnr_copy:before {
	content: "\e64f";
}
.icon_lnr_scissors:before {
	content: "\e650";
}
.icon_lnr_paste:before {
	content: "\e651";
}
.icon_lnr_clipboard:before {
	content: "\e652";
}
.icon_lnr_clipboard-check:before {
	content: "\e653";
}
.icon_lnr_register:before {
	content: "\e654";
}
.icon_lnr_enter:before {
	content: "\e655";
}
.icon_lnr_exit:before {
	content: "\e656";
}
.icon_lnr_papers:before {
	content: "\e657";
}
.icon_lnr_news:before {
	content: "\e658";
}
.icon_lnr_document:before {
	content: "\e659";
}
.icon_lnr_document2:before {
	content: "\e65a";
}
.icon_lnr_license:before {
	content: "\e65b";
}
.icon_lnr_graduation-hat:before {
	content: "\e65c";
}
.icon_lnr_license2:before {
	content: "\e65d";
}
.icon_lnr_medal:before {
	content: "\e65e";
}
.icon_lnr_medal2:before {
	content: "\e65f";
}
.icon_lnr_medal3:before {
	content: "\e660";
}
.icon_lnr_medal4:before {
	content: "\e661";
}
.icon_lnr_podium:before {
	content: "\e662";
}
.icon_lnr_trophy:before {
	content: "\e663";
}
.icon_lnr_music-note:before {
	content: "\e664";
}
.icon_lnr_music:before {
	content: "\e665";
}
.icon_lnr_music2:before {
	content: "\e666";
}
.icon_lnr_playlist:before {
	content: "\e667";
}
.icon_lnr_shuffle:before {
	content: "\e668";
}
.icon_lnr_headset:before {
	content: "\e669";
}
.icon_lnr_presentation:before {
	content: "\e66a";
}
.icon_lnr_play:before {
	content: "\e66b";
}
.icon_lnr_film-play:before {
	content: "\e66c";
}
.icon_lnr_camera:before {
	content: "\e66d";
}
.icon_lnr_photo:before {
	content: "\e66e";
}
.icon_lnr_picture:before {
	content: "\e66f";
}
.icon_lnr_book:before {
	content: "\e670";
}
.icon_lnr_book-closed:before {
	content: "\e671";
}
.icon_lnr_bookmark:before {
	content: "\e672";
}
.icon_lnr_bookmark2:before {
	content: "\e673";
}
.icon_lnr_books:before {
	content: "\e674";
}
.icon_lnr_library:before {
	content: "\e675";
}
.icon_lnr_contacts:before {
	content: "\e676";
}
.icon_lnr_profile:before {
	content: "\e677";
}
.icon_lnr_user:before {
	content: "\e678";
}
.icon_lnr_users:before {
	content: "\e679";
}
.icon_lnr_users2:before {
	content: "\e67a";
}
.icon_lnr_woman:before {
	content: "\e67b";
}
.icon_lnr_man:before {
	content: "\e67c";
}
.icon_lnr_shirt:before {
	content: "\e67d";
}
.icon_lnr_cart:before {
	content: "\e67e";
}
.icon_lnr_cart-empty:before {
	content: "\e67f";
}
.icon_lnr_cart-full:before {
	content: "\e680";
}
.icon_lnr_tag:before {
	content: "\e681";
}
.icon_lnr_tags:before {
	content: "\e682";
}
.icon_lnr_cash:before {
	content: "\e683";
}
.icon_lnr_credit-card:before {
	content: "\e684";
}
.icon_lnr_barcode:before {
	content: "\e685";
}
.icon_lnr_barcode2:before {
	content: "\e686";
}
.icon_lnr_barcode3:before {
	content: "\e687";
}
.icon_lnr_phone:before {
	content: "\e688";
}
.icon_lnr_phone2:before {
	content: "\e689";
}
.icon_lnr_pin:before {
	content: "\e68a";
}
.icon_lnr_map-marker:before {
	content: "\e68b";
}
.icon_lnr_compass:before {
	content: "\e68c";
}
.icon_lnr_map:before {
	content: "\e68d";
}
.icon_lnr_location:before {
	content: "\e68e";
}
.icon_lnr_road-sign:before {
	content: "\e68f";
}
.icon_lnr_calendar:before {
	content: "\e690";
}
.icon_lnr_calendar2:before {
	content: "\e691";
}
.icon_lnr_calendar3:before {
	content: "\e692";
}
.icon_lnr_mouse:before {
	content: "\e693";
}
.icon_lnr_keyboard:before {
	content: "\e694";
}
.icon_lnr_delete:before {
	content: "\e695";
}
.icon_lnr_spell-check:before {
	content: "\e696";
}
.icon_lnr_screen:before {
	content: "\e697";
}
.icon_lnr_signal:before {
	content: "\e698";
}
.icon_lnr_iphone:before {
	content: "\e699";
}
.icon_lnr_smartphone:before {
	content: "\e69a";
}
.icon_lnr_ipad:before {
	content: "\e69b";
}
.icon_lnr_tablet:before {
	content: "\e69c";
}
.icon_lnr_laptop:before {
	content: "\e69d";
}
.icon_lnr_desktop:before {
	content: "\e69e";
}
.icon_lnr_radio:before {
	content: "\e69f";
}
.icon_lnr_tv:before {
	content: "\e6a0";
}
.icon_lnr_power:before {
	content: "\e6a1";
}
.icon_lnr_lightning-bolt:before {
	content: "\e6a2";
}
.icon_lnr_lamp:before {
	content: "\e6a3";
}
.icon_lnr_plug-cord:before {
	content: "\e6a4";
}
.icon_lnr_outlet:before {
	content: "\e6a5";
}
.icon_lnr_drawer:before {
	content: "\e6a6";
}
.icon_lnr_drawer2:before {
	content: "\e6a7";
}
.icon_lnr_drawer3:before {
	content: "\e6a8";
}
.icon_lnr_archive:before {
	content: "\e6a9";
}
.icon_lnr_archive2:before {
	content: "\e6aa";
}
.icon_lnr_comment:before {
	content: "\e6ab";
}
.icon_lnr_comments:before {
	content: "\e6ac";
}
.icon_lnr_chat:before {
	content: "\e6ad";
}
.icon_lnr_quote-open:before {
	content: "\e6ae";
}
.icon_lnr_quote-close:before {
	content: "\e6af";
}
.icon_lnr_pulse:before {
	content: "\e6b0";
}
.icon_lnr_syringe:before {
	content: "\e6b1";
}
.icon_lnr_first-aid:before {
	content: "\e6b2";
}
.icon_lnr_lifebuoy:before {
	content: "\e6b3";
}
.icon_lnr_patch:before {
	content: "\e6b4";
}
.icon_lnr_patch2:before {
	content: "\e6b5";
}
.icon_lnr_lab:before {
	content: "\e6b6";
}
.icon_lnr_skull:before {
	content: "\e6b7";
}
.icon_lnr_construction:before {
	content: "\e6b8";
}
.icon_lnr_construction-cone:before {
	content: "\e6b9";
}
.icon_lnr_pie-chart:before {
	content: "\e6ba";
}
.icon_lnr_pie-chart2:before {
	content: "\e6bb";
}
.icon_lnr_graph:before {
	content: "\e6bc";
}
.icon_lnr_chart-growth:before {
	content: "\e6bd";
}
.icon_lnr_cake:before {
	content: "\e6be";
}
.icon_lnr_gift:before {
	content: "\e6bf";
}
.icon_lnr_balloon:before {
	content: "\e6c0";
}
.icon_lnr_rank:before {
	content: "\e6c1";
}
.icon_lnr_rank2:before {
	content: "\e6c2";
}
.icon_lnr_rank3:before {
	content: "\e6c3";
}
.icon_lnr_crown:before {
	content: "\e6c4";
}
.icon_lnr_lotus:before {
	content: "\e6c5";
}
.icon_lnr_diamond:before {
	content: "\e6c6";
}
.icon_lnr_diamond2:before {
	content: "\e6c7";
}
.icon_lnr_diamond3:before {
	content: "\e6c8";
}
.icon_lnr_diamond4:before {
	content: "\e6c9";
}
.icon_lnr_linearicons:before {
	content: "\e6ca";
}
.icon_lnr_teacup:before {
	content: "\e6cb";
}
.icon_lnr_glass:before {
	content: "\e6cc";
}
.icon_lnr_bottle:before {
	content: "\e6cd";
}
.icon_lnr_cocktail-glass:before {
	content: "\e6ce";
}
.icon_lnr_dinner:before {
	content: "\e6cf";
}
.icon_lnr_dinner2:before {
	content: "\e6d0";
}
.icon_lnr_hamburger:before {
	content: "\e6d1";
}
.icon_lnr_dumbbell:before {
	content: "\e6d2";
}
.icon_lnr_apple:before {
	content: "\e6d3";
}
.icon_lnr_leaf:before {
	content: "\e6d4";
}
.icon_lnr_pine-tree:before {
	content: "\e6d5";
}
.icon_lnr_tree:before {
	content: "\e6d6";
}
.icon_lnr_paw:before {
	content: "\e6d7";
}
.icon_lnr_paw2:before {
	content: "\e6d8";
}
.icon_lnr_footprint:before {
	content: "\e6d9";
}
.icon_lnr_speed-slow:before {
	content: "\e6da";
}
.icon_lnr_speed-medium:before {
	content: "\e6db";
}
.icon_lnr_speed-fast:before {
	content: "\e6dc";
}
.icon_lnr_rocket:before {
	content: "\e6dd";
}
.icon_lnr_gamepad:before {
	content: "\e6de";
}
.icon_lnr_dice:before {
	content: "\e6df";
}
.icon_lnr_ticket:before {
	content: "\e6e0";
}
.icon_lnr_hammer2:before {
	content: "\e6e1";
}
.icon_lnr_balance:before {
	content: "\e6e2";
}
.icon_lnr_briefcase:before {
	content: "\e6e3";
}
.icon_lnr_plane:before {
	content: "\e6e4";
}
.icon_lnr_gas:before {
	content: "\e6e5";
}
.icon_lnr_transmission:before {
	content: "\e6e6";
}
.icon_lnr_car:before {
	content: "\e6e7";
}
.icon_lnr_bus:before {
	content: "\e6e8";
}
.icon_lnr_truck:before {
	content: "\e6e9";
}
.icon_lnr_trailer:before {
	content: "\e6ea";
}
.icon_lnr_train:before {
	content: "\e6eb";
}
.icon_lnr_ship:before {
	content: "\e6ec";
}
.icon_lnr_anchor:before {
	content: "\e6ed";
}
.icon_lnr_boat:before {
	content: "\e6ee";
}
.icon_lnr_bicycle:before {
	content: "\e6ef";
}
.icon_lnr_cube:before {
	content: "\e6f0";
}
.icon_lnr_puzzle:before {
	content: "\e6f1";
}
.icon_lnr_glasses:before {
	content: "\e6f2";
}
.icon_lnr_accessibility:before {
	content: "\e6f3";
}
.icon_lnr_wheelchir:before {
	content: "\e6f4";
}
.icon_lnr_icons:before {
	content: "\e6f5";
}
.icon_lnr_icons2:before {
	content: "\e6f6";
}
.icon_lnr_sitemap:before {
	content: "\e6f7";
}
.icon_lnr_earth:before {
	content: "\e6f8";
}
.icon_lnr_happy:before {
	content: "\e6f9";
}
.icon_lnr_smile:before {
	content: "\e6fa";
}
.icon_lnr_grin:before {
	content: "\e6fb";
}
.icon_lnr_tongue:before {
	content: "\e6fc";
}
.icon_lnr_sad:before {
	content: "\e6fd";
}
.icon_lnr_wink:before {
	content: "\e6fe";
}
.icon_lnr_dream:before {
	content: "\e6ff";
}
.icon_lnr_shocked:before {
	content: "\e700";
}
.icon_lnr_shocked2:before {
	content: "\e701";
}
.icon_lnr_tongue2:before {
	content: "\e702";
}
.icon_lnr_neutral:before {
	content: "\e703";
}
.icon_lnr_happy-grin:before {
	content: "\e704";
}
.icon_lnr_cool:before {
	content: "\e705";
}
.icon_lnr_mad:before {
	content: "\e706";
}
.icon_lnr_grin-evil:before {
	content: "\e707";
}
.icon_lnr_evil:before {
	content: "\e708";
}
.icon_lnr_shocked3:before {
	content: "\e709";
}
.icon_lnr_annoyed:before {
	content: "\e70a";
}
.icon_lnr_mustache:before {
	content: "\e70b";
}
.icon_lnr_wondering:before {
	content: "\e70c";
}
.icon_lnr_confused:before {
	content: "\e70d";
}
.icon_lnr_bell:before {
	content: "\e70e";
}
.icon_lnr_bullhorn:before {
	content: "\e70f";
}
.icon_lnr_volume-high:before {
	content: "\e710";
}
.icon_lnr_volume-medium:before {
	content: "\e711";
}
.icon_lnr_volume-low:before {
	content: "\e712";
}
.icon_lnr_volume:before {
	content: "\e713";
}
.icon_lnr_mute:before {
	content: "\e714";
}
.icon_lnr_wifi:before {
	content: "\e715";
}
.icon_lnr_wifi2:before {
	content: "\e716";
}
.icon_lnr_wifi3:before {
	content: "\e717";
}
.icon_lnr_mic:before {
	content: "\e718";
}
.icon_lnr_mic2:before {
	content: "\e719";
}
.icon_lnr_mic-mute:before {
	content: "\e71a";
}
.icon_lnr_hourglass:before {
	content: "\e71b";
}
.icon_lnr_loading:before {
	content: "\e71c";
}
.icon_lnr_loading2:before {
	content: "\e71d";
}
.icon_lnr_loading3:before {
	content: "\e71e";
}
.icon_lnr_undo:before {
	content: "\e71f";
}
.icon_lnr_redo:before {
	content: "\e720";
}
.icon_lnr_sync:before {
	content: "\e721";
}
.icon_lnr_sync2:before {
	content: "\e722";
}
.icon_lnr_refresh:before {
	content: "\e723";
}
.icon_lnr_refresh2:before {
	content: "\e724";
}
.icon_lnr_history:before {
	content: "\e725";
}
.icon_lnr_history2:before {
	content: "\e726";
}
.icon_lnr_clock:before {
	content: "\e727";
}
.icon_lnr_clock2:before {
	content: "\e728";
}
.icon_lnr_clock3:before {
	content: "\e729";
}
.icon_lnr_clock4:before {
	content: "\e72a";
}
.icon_lnr_clock5:before {
	content: "\e72b";
}
.icon_lnr_timer:before {
	content: "\e72c";
}
.icon_lnr_timer2:before {
	content: "\e72d";
}
.icon_lnr_download:before {
	content: "\e72e";
}
.icon_lnr_upload:before {
	content: "\e72f";
}
.icon_lnr_arrow-up:before {
	content: "\e730";
}
.icon_lnr_arrow-down:before {
	content: "\e731";
}
.icon_lnr_arrow-left:before {
	content: "\e732";
}
.icon_lnr_arrow-right:before {
	content: "\e733";
}
.icon_lnr_arrow-up2:before {
	content: "\e734";
}
.icon_lnr_arrow-down2:before {
	content: "\e735";
}
.icon_lnr_arrow-left2:before {
	content: "\e736";
}
.icon_lnr_arrow-right2:before {
	content: "\e737";
}
.icon_lnr_arrow-up3:before {
	content: "\e738";
}
.icon_lnr_arrow-down3:before {
	content: "\e739";
}
.icon_lnr_arrow-left3:before {
	content: "\e73a";
}
.icon_lnr_arrow-right3:before {
	content: "\e73b";
}
.icon_lnr_arrow-up4:before {
	content: "\e73c";
}
.icon_lnr_arrow-down4:before {
	content: "\e73d";
}
.icon_lnr_arrow-left4:before {
	content: "\e73e";
}
.icon_lnr_arrow-right4:before {
	content: "\e73f";
}
.icon_lnr_terminal:before {
	content: "\e740";
}
.icon_lnr_bug:before {
	content: "\e741";
}
.icon_lnr_code:before {
	content: "\e742";
}
.icon_lnr_file-code:before {
	content: "\e743";
}
.icon_lnr_file-image:before {
	content: "\e744";
}
.icon_lnr_file-zip:before {
	content: "\e745";
}
.icon_lnr_file-audio:before {
	content: "\e746";
}
.icon_lnr_file-video:before {
	content: "\e747";
}
.icon_lnr_link:before {
	content: "\e748";
}
.icon_lnr_link2:before {
	content: "\e749";
}
.icon_lnr_unlink:before {
	content: "\e74a";
}
.icon_lnr_link3:before {
	content: "\e74b";
}
.icon_lnr_unlink2:before {
	content: "\e74c";
}
.icon_lnr_thumbs-up:before {
	content: "\e74d";
}
.icon_lnr_thumbs-down:before {
	content: "\e74e";
}
.icon_lnr_thumbs-up2:before {
	content: "\e74f";
}
.icon_lnr_thumbs-down2:before {
	content: "\e750";
}
.icon_lnr_thumbs-up3:before {
	content: "\e751";
}
.icon_lnr_thumbs-down3:before {
	content: "\e752";
}
.icon_lnr_share:before {
	content: "\e753";
}
.icon_lnr_share2:before {
	content: "\e754";
}
.icon_lnr_share3:before {
	content: "\e755";
}
.icon_lnr_options:before {
	content: "\e756";
}
.icon_lnr_list:before {
	content: "\e757";
}
.icon_lnr_list2:before {
	content: "\e758";
}
.icon_lnr_magnifier:before {
	content: "\e759";
}
.icon_lnr_zoom-in:before {
	content: "\e75a";
}
.icon_lnr_zoom-out:before {
	content: "\e75b";
}
.icon_lnr_question:before {
	content: "\e75c";
}
.icon_lnr_checkmark:before {
	content: "\e75d";
}
.icon_lnr_cross:before {
	content: "\e75e";
}
.icon_lnr_chevron-up:before {
	content: "\e75f";
}
.icon_lnr_chevron-down:before {
	content: "\e760";
}
.icon_lnr_chevron-left:before {
	content: "\e761";
}
.icon_lnr_chevron-right:before {
	content: "\e762";
}
.icon_lnr_arrow-up5:before {
	content: "\e763";
}
.icon_lnr_arrow-down5:before {
	content: "\e764";
}
.icon_lnr_arrow-left5:before {
	content: "\e765";
}
.icon_lnr_arrow-right5:before {
	content: "\e766";
}
.icon_lnr_expand:before {
	content: "\e767";
}
.icon_lnr_shrink:before {
	content: "\e768";
}
.icon_lnr_expand2:before {
	content: "\e769";
}
.icon_lnr_shrink2:before {
	content: "\e76a";
}
.icon_lnr_move:before {
	content: "\e76b";
}
.icon_lnr_tab:before {
	content: "\e76c";
}
.icon_lnr_warning:before {
	content: "\e76d";
}
.icon_lnr_circle-exclamation:before {
	content: "\e76e";
}
.icon_lnr_circle-question:before {
	content: "\e76f";
}
.icon_lnr_circle-checkmark:before {
	content: "\e770";
}
.icon_lnr_circle-cross:before {
	content: "\e771";
}
.icon_lnr_circle-plus:before {
	content: "\e772";
}
.icon_lnr_circle-minus:before {
	content: "\e773";
}
.icon_lnr_circle-up:before {
	content: "\e774";
}
.icon_lnr_circle-down:before {
	content: "\e775";
}
.icon_lnr_circle-left:before {
	content: "\e776";
}
.icon_lnr_circle-right:before {
	content: "\e777";
}
.icon_lnr_circle-up2:before {
	content: "\e778";
}
.icon_lnr_circle-down2:before {
	content: "\e779";
}
.icon_lnr_circle-left2:before {
	content: "\e77a";
}
.icon_lnr_circle-right2:before {
	content: "\e77b";
}
.icon_lnr_circle-backward:before {
	content: "\e77c";
}
.icon_lnr_circle-first:before {
	content: "\e77d";
}
.icon_lnr_circle-previous:before {
	content: "\e77e";
}
.icon_lnr_circle-stop:before {
	content: "\e77f";
}
.icon_lnr_circle-play:before {
	content: "\e780";
}
.icon_lnr_circle-pause:before {
	content: "\e781";
}
.icon_lnr_circle-next:before {
	content: "\e782";
}
.icon_lnr_circle-last:before {
	content: "\e783";
}
.icon_lnr_circle-forward:before {
	content: "\e784";
}
.icon_lnr_circle-eject:before {
	content: "\e785";
}
.icon_lnr_crop:before {
	content: "\e786";
}
.icon_lnr_frame:before {
	content: "\e787";
}
.icon_lnr_ruler:before {
	content: "\e788";
}
.icon_lnr_funnel:before {
	content: "\e789";
}
.icon_lnr_flip-horizontal:before {
	content: "\e78a";
}
.icon_lnr_flip-vertical:before {
	content: "\e78b";
}
.icon_lnr_subtract:before {
	content: "\e78c";
}
.icon_lnr_combine:before {
	content: "\e78d";
}
.icon_lnr_intersect:before {
	content: "\e78e";
}
.icon_lnr_exclude:before {
	content: "\e78f";
}
.icon_lnr_align-center-vertical:before {
	content: "\e790";
}
.icon_lnr_align-right:before {
	content: "\e791";
}
.icon_lnr_align-bottom:before {
	content: "\e792";
}
.icon_lnr_align-left:before {
	content: "\e793";
}
.icon_lnr_align-center-horizontal:before {
	content: "\e794";
}
.icon_lnr_align-top:before {
	content: "\e795";
}
.icon_lnr_square:before {
	content: "\e796";
}
.icon_lnr_circle:before {
	content: "\e797";
}
.icon_lnr_uni21:before {
	content: "\21";
}
.icon_lnr_uni22:before {
	content: "\22";
}
.icon_lnr_uni23:before {
	content: "\23";
}
.icon_lnr_uni24:before {
	content: "\24";
}
.icon_lnr_uni25:before {
	content: "\25";
}
.icon_lnr_uni26:before {
	content: "\26";
}
.icon_lnr_uni27:before {
	content: "\27";
}
.icon_lnr_uni28:before {
	content: "\28";
}
.icon_lnr_uni29:before {
	content: "\29";
}
.icon_lnr_uni2a:before {
	content: "\2a";
}
.icon_lnr_uni2b:before {
	content: "\2b";
}
.icon_lnr_uni2c:before {
	content: "\2c";
}
.icon_lnr_uni2d:before {
	content: "\2d";
}
.icon_lnr_uni2e:before {
	content: "\2e";
}
.icon_lnr_uni2f:before {
	content: "\2f";
}
.icon_lnr_uni30:before {
	content: "\30";
}
.icon_lnr_uni31:before {
	content: "\31";
}
.icon_lnr_uni32:before {
	content: "\32";
}
.icon_lnr_uni33:before {
	content: "\33";
}
.icon_lnr_uni34:before {
	content: "\34";
}
.icon_lnr_uni35:before {
	content: "\35";
}
.icon_lnr_uni36<div><br></div>:before {
	content: "\36";
}
.icon_lnr_uni37:before {
	content: "\37";
}
.icon_lnr_uni38:before {
	content: "\38";
}
.icon_lnr_uni39:before {
	content: "\39";
}
.icon_lnr_uni3a:before {
	content: "\3a";
}
.icon_lnr_uni3b:before {
	content: "\3b";
}
.icon_lnr_uni3c:before {
	content: "\3c";
}
.icon_lnr_uni3d:before {
	content: "\3d";
}
.icon_lnr_uni3e:before {
	content: "\3e";
}
.icon_lnr_uni3f:before {
	content: "\3f";
}
.icon_lnr_uni40:before {
	content: "\40";
}
.icon_lnr_uni41:before {
	content: "\41";
}
.icon_lnr_uni42:before {
	content: "\42";
}
.icon_lnr_uni43:before {
	content: "\43";
}
.icon_lnr_uni44:before {
	content: "\44";
}
.icon_lnr_uni45:before {
	content: "\45";
}
.icon_lnr_uni46:before {
	content: "\46";
}
.icon_lnr_uni47:before {
	content: "\47";
}
.icon_lnr_uni48:before {
	content: "\48";
}
.icon_lnr_uni49:before {
	content: "\49";
}
.icon_lnr_uni4a:before {
	content: "\4a";
}
.icon_lnr_uni4b:before {
	content: "\4b";
}
.icon_lnr_uni4c:before {
	content: "\4c";
}
.icon_lnr_uni4d:before {
	content: "\4d";
}
.icon_lnr_uni4e:before {
	content: "\4e";
}
.icon_lnr_uni4f:before {
	content: "\4f";
}
.icon_lnr_uni50:before {
	content: "\50";
}
.icon_lnr_uni51:before {
	content: "\51";
}
.icon_lnr_uni52:before {
	content: "\52";
}
.icon_lnr_uni53:before {
	content: "\53";
}
.icon_lnr_uni54:before {
	content: "\54";
}
.icon_lnr_uni55:before {
	content: "\55";
}
.icon_lnr_uni56:before {
	content: "\56";
}
.icon_lnr_uni57:before {
	content: "\57";
}
.icon_lnr_uni58:before {
	content: "\58";
}
.icon_lnr_uni59:before {
	content: "\59";
}
.icon_lnr_uni5a:before {
	content: "\5a";
}
.icon_lnr_uni5b:before {
	content: "\5b";
}
.icon_lnr_uni5c:before {
	content: "\5c";
}
.icon_lnr_uni5d:before {
	content: "\5d";
}
.icon_lnr_uni5e:before {
	content: "\5e";
}
.icon_lnr_uni5f:before {
	content: "\5f";
}
.icon_lnr_uni60:before {
	content: "\60";
}
.icon_lnr_uni61:before {
	content: "\61";
}
.icon_lnr_uni62:before {
	content: "\62";
}
.icon_lnr_uni63:before {
	content: "\63";
}
.icon_lnr_uni64:before {
	content: "\64";
}
.icon_lnr_uni65:before {
	content: "\65";
}
.icon_lnr_uni66:before {
	content: "\66";
}
.icon_lnr_uni67:before {
	content: "\67";
}
.icon_lnr_uni68:before {
	content: "\68";
}
.icon_lnr_uni69:before {
	content: "\69";
}
.icon_lnr_uni6a:before {
	content: "\6a";
}
.icon_lnr_uni6b:before {
	content: "\6b";
}
.icon_lnr_uni6c:before {
	content: "\6c";
}
.icon_lnr_uni6d:before {
	content: "\6d";
}
.icon_lnr_uni6e:before {
	content: "\6e";
}
.icon_lnr_uni6f:before {
	content: "\6f";
}
.icon_lnr_uni70:before {
	content: "\70";
}
.icon_lnr_uni71:before {
	content: "\71";
}
.icon_lnr_uni72:before {
	content: "\72";
}
.icon_lnr_uni73:before {
	content: "\73";
}
.icon_lnr_uni74:before {
	content: "\74";
}
.icon_lnr_uni75:before {
	content: "\75";
}
.icon_lnr_uni76:before {
	content: "\76";
}
.icon_lnr_uni77:before {
	content: "\77";
}
.icon_lnr_uni78:before {
	content: "\78";
}
.icon_lnr_uni79:before {
	content: "\79";
}
.icon_lnr_uni7a:before {
	content: "\7a";
}
.icon_lnr_uni7b:before {
	content: "\7b";
}
.icon_lnr_uni7c:before {
	content: "\7c";
}
.icon_lnr_uni7d:before {
	content: "\7d";
}
.icon_lnr_uni7e:before {
	content: "\7e";
}
.icon_lnr_copyright:before {
	content: "\a9";
}
