<div style="width: 100%;" ng-show="currentNav.commentscreen">
	<md-list-item class="md-3-line md-long-text">
          <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[0].who }}</h3>
            <p>
              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
          
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <img ng-src="{{todos[1].face}}?25" class="md-avatar" alt="{{todos[1].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[1].who }}</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i> </md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
        <img ng-src="{{todos[2].face}}?25" class="md-avatar" alt="{{todos[2].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[2].who }}</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i> </md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <img ng-src="{{todos[3].face}}?25" class="md-avatar" alt="{{todos[3].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[3].who }}</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i> </md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
        
        <img ng-src="{{todos[4].face}}?25" class="md-avatar" alt="{{todos[4].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[4].who }}</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i> </md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <img ng-src="{{todos[5].face}}?25" class="md-avatar" alt="{{todos[5].who}}">
          <div class="md-list-item-text">
            <h3>{{ todos[5].who }}</h3>
            <p>
              Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
              velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <div>
	          	<md-button md-no-ink aria-label="upvoteButton" class="md-button md-primary">
				    <i class="icon-up-1"></i> </md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="downvoteButton" class="md-button md-primary">
				    <i class="icon-down-1"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="commentButton" class="md-button md-primary">
				    <i class="icon-comment"></i></md-icon>
				  </md-button>
				  <md-button md-no-ink aria-label="shareButton" class="md-button md-primary">
				    <i class="icon-share"></i></md-icon>
				  </md-button>
          	</div>
          </div>
        </md-list-item>
</div>