<md-toolbar class="md-theme-light" ng-controller="leftCtrl">
    <h1 class="md-toolbar-tools">More Options</h1>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
      <md-icon md-font-icon="icon_lnr_cross"></md-icon>
    </md-button>
  </md-toolbar>
  <md-content ng-controller="leftCtrl" layout-padding="">
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput" ng-model="data" md-autofocus="">
      </md-input-container>
    </form>
    <md-button id="sidenavclose" ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>