<md-toolbar class="md-theme-light" ng-controller="rightCtrl">
    <h1 class="md-toolbar-tools">More Options</h1>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
      <md-icon md-font-icon="icon_lnr_cross"></md-icon>
    </md-button>
  </md-toolbar>
  <md-content ng-controller="rightCtrl" layout-padding="">
  <div class="buffer"></div>
  <label>Log in via</label>
    <img src="img/facebook.png">
    <img src="img/twitter.png">
    <form>
      <md-input-container>
        <label for="testInput">Or enter an Email</label>
        <input type="text" id="testInput" ng-model="data" md-autofocus="">
      </md-input-container>
      <div style="margin: auto;">
        <md-button type="submit" ng-click class="md-raised md-warn"> <i class="icon_lnr_library"></i> Sign me Up
        </md-button>
      </div>
    </form>
  </md-content>