/*-----preloader --------*/
* {margin: 0; padding:0;}
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	bottom:0;
	background-color:#fff; 
	z-index:999999; 
}
.sk-spinner-wave.sk-spinner {
  margin:-15px 0 0 -25px; 
  position:absolute;
  left:50%; 
  top:50%;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
 }
 .ie8 .sk-spinner-wave.sk-spinner {display:none;}
.sk-spinner-wave div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
   animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wave .sk-rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.sk-spinner-wave .sk-rect3 {-webkit-animation-delay: -1s;animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.sk-spinner-wave .sk-rect5 { -webkit-animation-delay: -0.8s;animation-delay: -0.8s;}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}

  20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
  20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}
/*---fonts ---- */
#first-screen {padding: 15px 20px;}
button.md-icon-button.md-button.md-ink-ripple > md-icon {
	font-size: 1.5em;
}
.action_button {
	padding: 10px 50px !important;
}
#input_3, #input_2 {
	font-size: 24px !important;
	font-weight: bold;
	width: 70px !important;	
}
#first-screen > div> div:nth-child(2) > md-menu {
	margin: 0 !important; padding: 0;
}
#first-screen > div> div:nth-child(2) > md-menu > button {
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0;
	padding: 3px 20px;
	width: 150px;
}
#first-screen > div> div:nth-child(2) > md-menu > button: hover, #first-screen > div> div:nth-child(2) > md-menu > button:focus {
	background-color: rgb(63,81,181) !important;
	color: #fff !important;
}
body > md-sidenav > sidenavright > md-toolbar > button  {
	position: absolute !important;
    color: #fff !important;
    top: 8px !important;
    right: 8px !important;
}
#menu_container_0 {
	width: 300px;
}
#menu_container_1 > md-menu-content {
	height: 450px !important;
}
#menu_container_1 > md-menu-content > md-menu-item > button {height: 50px;}
*.ng-hide {height: 0 !important;}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove  {
  transition: all linear 0.5s;
}
#direction {
	background-color: rgb(63,81,181);
	border-radius: 20px;
	height: 200px;
	width: 200px;
	margin: 15px auto;
	text-align: center;
}
#direction > i {
	color: #fff;
	font-size: 150px;
}
#direction > span {
	color: #fff;
	font-size: 24px; 
}
#infofab > button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#infofab > button > md-icon {font-size: 20px !important;}