<div style="width: 100%; height: 100%;" ng-show="currentNav.navscreen">
	<div id="direction">
	<i class="icon-reply"></i>
	<br>
	<span>Head to the left</span>
	</div>
Map

<div nav-data style="width: 100%; text-align: center; position: absolute; bottom: 10px;" ng-controller="topCtrl">
			<md-button class="action_button md-raised md-primary" ng-click="currentNav.navscreen = false; currentNav.infoscreen = true;" class="md-primary"> <i class="icon_lnr_library"></i> I Found It!
		</md-button>
		</div>
</div>